
<table class="table table-dark table-borderless">
  <thead>
    <tr>
        <th scope="col">Titulo</th>
        <th scope="col">Precio</th>
        <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
        <td>{{this.title}}</td>
        <td>{{this.price}}</td>
        <td><img src={{this.thumbnail}} width="70"></td>
    </tr>
    {{/each}}
  </tbody>
</table>